.navbar{
      display: flex;
      justify-content: space-between;
      /* gap: 50px; */
      align-items: center;
      padding: 10px;
      position: sticky;
      top: 0;
      background-color: #ffffff;
      z-index: 1000;
      width: 100%;
}
.mid ul{
      display: flex;
      justify-content: space-between;
      list-style: none;
      gap: 40px;
}
.mid ul li a{
      text-decoration: none;
      color: #000000;
}
.logo{
      margin-left: 20px;
}
.logo span{
      font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      background:linear-gradient(to right,red,rgb(154, 8, 81) 80%);
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
}
.cart img{
      height: 30px;
}
.cart{
      margin-right: 105px;
}